# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment Variables
.env

# Project Specific
transcript_*.md
transcript_*.pdf
*.pdf
# thumbs_*/  <-- Commented out to allow example images to be uploaded

# IDEs
.vscode/
.idea/
